<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="keywords" content="Review, book">
        <meta name="author" content="Eric Hippler">
        <meta name="description" content="Book review website">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

        <title>Books{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
        </header>

        <nav>
            <div class="site-navbar">
                <h1>Book-a-Review</h1>
                <div class="nav-links">
                    {% if session["user_id"] %}
                        <ul>
                            <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        </ul>
                    {% else %}
                        <ul>
                            <li><a href="{{ url_for('login') }}">Login</a></li>
                            <li><a href="{{ url_for('register') }}">Register</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        
        <main>
            {% block main %}{% endblock %}
        </main>

        <footer></footer>
    </body>
</html>